<div class="container rounded shadow bg-light mt-3 pb-2 pt-2">
    <app-carro [carro]="carro" (saveEmitter)="salvarCarro()"></app-carro>

    <div class="container">
        <h3>Carros Cadastrados</h3>
        <table class="table table-hover table-light table-striped">
            <thead>
                <tr >
                    <th>#</th>
                    <th>Nome</th>
                    <th>Montadora</th>
                    <th>Preço(R$)</th>
                    <th>Ano</th>
                    <th class="text-end pe-6">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let carro of carros">
                    <td>{{carro.id}}</td>
                    <td>{{carro.nome}}</td>
                    <td>{{carro.montadora}}</td>
                    <td>{{carro.preco}}</td>
                    <td>{{carro.ano}}</td>
                    <td class="text-end pe-0">
                        <button class="btn btn-success me-2" (click)="atualizar(carro)">Alterar</button>
                        <button class="btn btn-danger me-2" (click)="remover(carro)">Remover</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
